---
import HeroAnimation from '../../HeroAnimation';
import HeroSection from './HeroLogger';

---

<div class="bg-[#e6f8ff] grid grid-cols-1 lg:grid-cols-[1fr_0.8fr] px-2 lg:px-8">
<HeroSection client:load/>
    <HeroAnimation client:load />
</div>
