---

import HeroTwoAnnimation from '../../HeroTwoAnnimation';

---

<div class="grid grid-cols-1 lg:grid-cols-[1fr_0.8fr] px-4 lg:px-8 gap-4">
    <div class="flex flex-col justify-center gap-4 py-8 lg:py-20">
        <p class="text-[40px] font-[700] text-[#191d27]">Why IT Companies Choose Demanzo</p>
        <p class="text-[16px] font-[500] text-[#616670] leading-relaxed">We turn more MQLs into SQLs with pipeline-first strategies designed for SaaS, IT services, and B2B tech. IT companies today need more than just regular digital marketing to get leads and grow. At <b>Demanzo</b>, we engineer <b>high-impact lead generation</b> and <b>sales-driven digital marketing strategies</b> tailored exclusively for <b>IT companies</b>. Whether you’re scaling your SaaS, cloud solutions, or enterprise IT services, we deliver Marketing Qualified Leads (MQLs) and Sales Qualified Leads (SQLs) that drive revenue.</p>
    </div>
    <HeroTwoAnnimation client:load />
</div>

