---
import BlogCaurocel from '../../BlogCourocel';

---

<div class="bg-gradient-to-b from-[#fff8eb] to-[#ffffff]">
    <p class="text-[30px] font-[600] md:text-[40px] md:font-[700] text-[#191d27] text-center py-16">Recent Blogs</p>
    <BlogCaurocel  client:visible />
</div>

