---
import Caurocel from '../../Caurocel.jsx'
---

<div class="mb-16">
    <p class="text-[30px] lg:text-[40px] font-[600] text-[#191d27] text-center pb-6">Testimonial</p>
    <Caurocel client:load />
</div>