---

// import HeroTwoAnnimation from '../../HeroTwoAnnimation';
import WhyChooseDemanzo from "../renderers/whyChooseDemanzo"
---

<!-- ------------section 2 -------------------- -->
 
<div class="grid grid-cols-1 lg:grid-cols-[1fr_0.8fr] px-4 lg:px-14 gap-4">
    <WhyChooseDemanzo client:visible/>
</div>

