---

import HeroAnimation from '../renderers/HeroAnimation';
import HeroSection from '../renderers/Hero';


---

<!-- ---------------------- section 1 ------------------- -->

<div class="bg-[#e6f8ff] grid grid-cols-1 lg:grid-cols-[1fr_0.8fr] px-2 lg:px-14">
    <HeroSection client:visible/>
    <HeroAnimation client:visible />
</div>
