---
import HeroAnimation from "../renderers/HeroAnimation";
import HeroSection from "../renderers/Hero";
import { useEffect, useState } from "react";
import axios from "axios";
import { API_URL } from "../../../../config/urls";

const res = await fetch(API_URL + "home-hero");
const pageData = await res.json();
// const currentPath = Astro.url.pathname;

// const [pageData, setPageData] = useState({})
//     useEffect(() => {
//         axios.get(API_URL + 'home-hero')
//             .then((res) => {
//                 setPageData(res.data);
//                 // console.log(res.data)
//             })
//             .catch((err) => {
//                 console.error('Error in browser:', err);
//             });
//     }, []);
---

<!-- ---------------------- section 1 ------------------- -->
<div class="demanzo-container bg-[#e6f8ff]">
    <div class="demanzo-grid demanzo-max-screen-width">
        <HeroSection pageData={pageData} client:load />
        <HeroAnimation client:load />
    </div>
</div>
