---
import BlogCaurocel from '../renderers/BlogCourocel';

---


<!---------------------- section 9 ----------------------------- -->

<div class="bg-gradient-to-b from-[#fff8eb] to-[#ffffff]">
    <BlogCaurocel  client:visible />
</div>

