---
import { API_URL } from "../../../../config/urls";
import GrowthAnimation from "../renderers/GrowthAnimation"

const res = await fetch(API_URL + 'category/3');
const category = await res.json();
---

<!-- -----------------section 3---------------- -->

<div class="demanzo-container bg-gradient-to-b from-[#fef1ee] to-[#fcf8f9]">
  <div class="demanzo-max-screen-width">
    <GrowthAnimation category={category}  client:load/>
  </div>
</div>