---
import { API_URL, BASE_URL } from "../../../../config/urls";
import FormComponent from "../renderers/FormComponent"

const res = await fetch(BASE_URL + 'wp-json/custom/v1/blocks/53075');
const category = await res.json();
---


<!-- ------------------section 6 --------------------- -->
 
<div class="relative">
  <div class="absolute top-16 left-0 w-full overflow-hidden leading-none -translate-y-full">
    <svg
      class="relative block w-full h-24"
      viewBox="0 0 1440 100"
      xmlns="http://www.w3.org/2000/svg"
      preserveAspectRatio="none"
    >
      <path
        fill="#f8f8f8"
        d="M0,0 Q720,100 1440,0 L1440,100 L0,100 Z"
      ></path>
    </svg>
  </div>

  {/* Section Content */} 
  <div class="demanzo-container bg-gradient-to-b from-[#f8f8f8] to-white gap-4 demanzo-section">
   <div class="demanzo-grid demanzo-max-screen-width">
    <FormComponent category={category[1]} client:load/>
    </div> 
  </div>
</div>
