---
import CaseStudyCard from "../../../common/CaseStudyCard";
import { BASE_URL } from '../../../../config/urls';

const resond = await fetch(`${BASE_URL}wp-json/custom/v1/case-studies`);
const category = await resond.json();
---


<!-- ------------------section 8 --------------------- -->


<section class="bg-gradient-to-b from-[#f8f8f8] to-white demanzo-section">
    <!-- <div class="demanzo-max-screen-width"> -->
     <h2 class="demanzo-h1 text-center pb-5">
            Case Studies
          </h2>
 <CaseStudyCard categories={category} client:load/>
    <!-- </div> -->
</section>
