---
import { BASE_URL } from "../../../../config/urls";
import Caurosel from "../../home/renderers/Caurosel"

const res = await fetch(BASE_URL+ 'wp-json/custom/v1/testimonials');
const category = await res.json();
---


<!-- ----------------section 11 -------- -->
 
<div class="mb-16">
    <Caurosel category={category} client:load />
</div>