---
import CaseStudyCard from '../../../common/CaseStudyCard';
---


<!-- ------------------section 8 --------------------- -->


<section class="py-20 px-4 lg:px-8 bg-gradient-to-b from-[#f8f8f8] to-white">
 <CaseStudyCard client:visible/>
</section>
