---
import { API_URL } from '../../../../config/urls';
import FaqAccordion from '../renderers/Accordian.jsx'

const res = await fetch(API_URL + 'category/6');
const category = await res.json();
---


<!-- ----------------------section 7 ---------------------- -->


<div class="demanzo-container bg-gradient-to-b from-[#f8f8f8] to-white demanzo-section">
  <div class="demanzo-max-screen-width">
    <FaqAccordion category={category} client:visible/>
  </div>
   
</div>