---
import GrowthAnimation from "../renderers/GrowthAnimation"
---

<div class="py-8 mt-90 md:mt-[460px] lg:mt-20 xl:mt-32 2xl:mt-52 bg-gradient-to-b from-[#fef1ee] to-[#fcf8f9]">
  
    <GrowthAnimation client:visible />
</div>