---
import { API_URL } from "../../../../config/urls";
import GoogleRoiCard2 from "../../../common/GoogleRoiCard2";

const res = await fetch(API_URL + 'blocks/199');
const data = await res.json();

const pageData = data[4];
---

<!-- section 5 -->
 
<div class="relative mb-[450px] md:mb-[300px] lg:mb-[280px]" id="calculator">
  <div class="mt-[60px] pt-[30px] md:pt-[60px] px-4 sm:px-6 md:px-[80px] pb-[180px] bg-[#fef2f2] grid grid-cols-1 md:grid-cols-2 gap-6 rounded-3xl max-w-6xl mx-[10px] lg:mx-auto">
    <div class="flex flex-col justify-center">
      <h2 class="text-[26px] sm:text-[30px] md:text-[36px] lg:text-[40px] font-semibold text-[#050607] text-center md:text-left">
        {pageData.headings[0]}
      </h2>
    </div>

    <div class="flex items-center justify-center md:justify-end">
      <a href="#contact" class="bg-[#0a6aad] text-white text-[16px] sm:text-[17px] font-medium px-6 py-3 mt-4 md:mt-0 rounded-full">
        {pageData.paragraphs[0]}
      </a>
    </div>
  </div>

  <GoogleRoiCard2 client:only="react"/>
</div>


 