---
import { API_URL } from "../../../../config/urls";
import { MEDIA_URL } from "../../../../config/urls";

const res = await fetch(API_URL + "blocks/199");
const data = await res.json();

const pageData = data[0];
---

<!-- Section-1 -->
 
<div class="bg-[#e6f8ff] px-[15px] py-[90px] relative">
  <div class="demanzo-container-auto">
    <div
      class="relative mx-auto lg:mx-[260px] text-center flex items-center justify-center"
    >
      <h1 class="demanzo-h1">
        {pageData.headings[0]}
      </h1>
      <svg
        class="mt-2 mx-auto w-[270px] h-[20px] absolute bottom-0"
        viewBox="0 0 270 20"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M5 15C80 5 190 0 265 12"
          stroke="#FF5F55"
          stroke-width="6"
          stroke-linecap="round"></path>
      </svg>
    </div>
    <img
      src={MEDIA_URL + pageData.images?.[0]?.src}
      alt={pageData.images?.[0]?.alt}
      class="absolute bottom-16 left-30 hidden lg:block"
    />
  </div>
</div>
