---
import { API_URL } from "../../../../config/urls";
import GoogleRoiCard1 from "../../../common/GoogleRoiCard1.jsx"
const res = await fetch(API_URL + 'blocks/199');
const data = await res.json();

const pageData = data[2];
const list = pageData?.list_items[0];
---

<!-- section 3 -->

<div class="demanzo-container-auto px-[20px] !py-[80px] lg:p-[80px] bg-[#f8fdff]">
    <h2 class="mb-[20px] demanzo-h1 text-[#191d27] text-center">{pageData.headings[0]}</h2>
    <GoogleRoiCard1  SectionData={list} client:only="react"/>

    <a href="#calculator" class="bg-[#0a6aad] text-center mt-[60px] text-white flex items-center justify-center text-[17px] font-[400] w-fit px-6 py-3 mx-auto rounded-full cursor-pointer">
        {pageData.paragraphs[0]}
    </a>
</div>
</section>