---

import logo from "../../assets/logo.png";


---
<footer
	class="px-8 pt-12 pb-3 bg-[url('../assets/Footer-Bg-1-1.webp')] bg-fill bg-center w-full"
>
	<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 pb-8">
		<div>
			<img src={logo.src} alt="" class="w-56" />
			<p class="text-[16px] font-[500] text-[#616670] py-6 md:pr-8">
				We are a startup with high aspirations to provide out of the box
				solutions for demand generation for businesses. We want to make
				the demand generation process as simple as it gets.
			</p>
		</div>
		<div class="md:px-6">
			<p class="text-[20px] font-[600] text-[#191d27] py-6">
				Marketing Services
			</p>
			<a
				class="text-[16px] font-[500] text-[#616670] hover:text-[#050607] block pb-2"
				href="#">Content Writing Services</a
			>
			<a
				class="text-[16px] font-[500] text-[#616670] hover:text-[#050607] block pb-2"
				href="#">Content Writing Services</a
			>
			<a
				class="text-[16px] font-[500] text-[#616670] hover:text-[#050607] block pb-2"
				href="#">Content Writing Services</a
			>
			<a
				class="text-[16px] font-[500] text-[#616670] hover:text-[#050607] block pb-2"
				href="#">Content Writing Services</a
			>
		</div>
		<div class="md:px-6">
			<p class="text-[20px] font-[600] text-[#191d27] py-6">
				Marketing Services
			</p>
			<a
				class="text-[16px] font-[500] text-[#616670] hover:text-[#050607] block pb-2"
				href="#">Content Writing Services</a
			>
			<a
				class="text-[16px] font-[500] text-[#616670] hover:text-[#050607] block pb-2"
				href="#">Content Writing Services</a
			>
			<a
				class="text-[16px] font-[500] text-[#616670] hover:text-[#050607] block pb-2"
				href="#">Content Writing Services</a
			>
			<a
				class="text-[16px] font-[500] text-[#616670] hover:text-[#050607] block pb-2"
				href="#">Content Writing Services</a
			>
		</div>
		<div class="md:px-6">
			<p class="text-[20px] font-[600] text-[#191d27] py-6">
				Get In Touch
			</p>
			<a
				href="tel:+919751840872"
				class="text-[16px] font-[500] text-[#616670] hover:text-[#050607] block pb-2"
			>
				<svg
					xmlns="http://www.w3.org/2000/svg"
					class="inline text-[#2d89bf] pr-1"
					width="24"
					height="24"
					viewBox="0 0 24 24"
					><path
						fill="currentColor"
						d="m16.1 13.359l-.528-.532zm.456-.453l.529.532zm2.417-.317l-.358.66zm1.91 1.039l-.358.659zm.539 3.255l.529.532zm-1.42 1.412l-.53-.531zm-1.326.67l.07.747zm-9.86-4.238l.528-.532zM4.002 5.746l-.749.042zm6.474 1.451l.53.532zm.157-2.654l.6-.449zM9.374 2.86l-.601.45zM6.26 2.575l.53.532zm-1.57 1.56l-.528-.531zm7.372 7.362l.529-.532zm4.567 2.394l.455-.453l-1.058-1.064l-.455.453zm1.985-.643l1.91 1.039l.716-1.318l-1.91-1.038zm2.278 3.103l-1.42 1.413l1.057 1.063l1.42-1.412zm-2.286 1.867c-1.45.136-5.201.015-9.263-4.023l-1.057 1.063c4.432 4.407 8.65 4.623 10.459 4.454zm-9.263-4.023c-3.871-3.85-4.512-7.087-4.592-8.492l-1.498.085c.1 1.768.895 5.356 5.033 9.47zm1.376-6.18l.286-.286L9.95 6.666l-.287.285zm.515-3.921L9.974 2.41l-1.201.899l1.26 1.684zM5.733 2.043l-1.57 1.56l1.058 1.064l1.57-1.56zm4.458 5.44c-.53-.532-.53-.532-.53-.53h-.002l-.003.004a1 1 0 0 0-.127.157c-.054.08-.113.185-.163.318a2.1 2.1 0 0 0-.088 1.071c.134.865.73 2.008 2.256 3.526l1.058-1.064c-1.429-1.42-1.769-2.284-1.832-2.692c-.03-.194.001-.29.01-.312q.009-.02 0-.006a.3.3 0 0 1-.03.039l-.01.01l-.01.009zm1.343 4.546c1.527 1.518 2.676 2.11 3.542 2.242c.443.068.8.014 1.071-.087a1.5 1.5 0 0 0 .42-.236l.05-.045l.007-.006l.003-.003l.001-.002s.002-.001-.527-.533c-.53-.532-.528-.533-.528-.533l.002-.002l.002-.002l.006-.005l.01-.01l.038-.03q.014-.009-.007.002c-.025.009-.123.04-.32.01c-.414-.064-1.284-.404-2.712-1.824zm-1.56-9.62C8.954 1.049 6.95.834 5.733 2.044L6.79 3.107c.532-.529 1.476-.475 1.983.202zM4.752 5.704c-.02-.346.139-.708.469-1.036L4.163 3.604c-.537.534-.96 1.29-.909 2.184zm14.72 12.06c-.274.274-.57.428-.865.455l.139 1.494c.735-.069 1.336-.44 1.784-.885zM11.006 7.73c.985-.979 1.058-2.527.229-3.635l-1.201.899c.403.539.343 1.246-.085 1.673zm9.52 6.558c.817.444.944 1.49.367 2.064l1.058 1.064c1.34-1.333.927-3.557-.71-4.446zm-3.441-.849c.384-.382 1.002-.476 1.53-.19l.716-1.317c-1.084-.59-2.428-.427-3.304.443z"
					></path></svg
				>
				+91-9751840872
			</a>
			<a
				href="mailto:info@demanzo.com"
				class="text-[16px] font-[500] text-[#616670] hover:text-[#050607] block pb-2"
			>
				<svg
					xmlns="http://www.w3.org/2000/svg"
					class="inline text-[#2d89bf] pr-1"
					width="24"
					height="24"
					viewBox="0 0 20 20"
					fill="none"
					><path
						d="M0.155602 7.8336C0.132397 8.15455 0.0142219 8.0917 4.21057 10.0517C6.34763 11.049 8.10825 11.8795 8.12687 11.8983C8.14239 11.9139 8.95143 13.6754 9.92407 15.8085C10.8967 17.9416 11.7306 19.7281 11.7802 19.7782C11.9013 19.9003 12.1818 19.8953 12.3632 19.7651C12.482 19.6846 12.529 19.6069 12.6173 19.3704C12.6804 19.2086 14.2473 15.0978 16.1073 10.2309C17.9673 5.37018 19.5122 1.30608 19.5438 1.20647C19.6575 0.864091 19.4654 0.601435 19.0914 0.593586C18.8794 0.586437 17.8836 0.946823 10.397 3.73224C5.74523 5.4639 1.5961 7.00759 1.1715 7.16783C0.322319 7.4821 0.175407 7.57809 0.155602 7.8336ZM9.41548 5.10259C13.5584 3.55888 17.0269 2.27407 17.1174 2.24641C17.2797 2.19724 17.1764 2.29966 12.8408 6.60419L8.39565 11.0111L5.16982 9.51037C1.76666 7.93095 1.83199 7.95928 1.8633 7.92825C1.87582 7.91584 5.27258 6.64631 9.41548 5.10259ZM17.856 2.99144C17.7328 3.38677 12.0552 18.1897 12.0271 18.1927C12.0115 18.1895 11.3259 16.7154 10.5077 14.9133L9.01634 11.6372L13.4615 7.23026C17.8033 2.93199 17.9066 2.82958 17.856 2.99144Z"
						fill="#1962F2"></path></svg
				>
				info@demanzo.com
			</a>
			<div class="flex gap-4">
				<a
					href=""
					class="w-8 h-8 border flex items-center justify-center text-[#2d89bf] border-[#2d89bf] rounded-full border-dashed"
				>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="18"
						height="18"
						viewBox="0 0 24 24"
						><path
							fill="currentColor"
							d="M17 3.5a.5.5 0 0 0-.5-.5H14a4.77 4.77 0 0 0-5 4.5v2.7H6.5a.5.5 0 0 0-.5.5v2.6a.5.5 0 0 0 .5.5H9v6.7a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-6.7h2.62a.5.5 0 0 0 .49-.37l.72-2.6a.5.5 0 0 0-.48-.63H13V7.5a1 1 0 0 1 1-.9h2.5a.5.5 0 0 0 .5-.5Z"
						></path></svg
					>
				</a>
				<a
					href=""
					class="w-8 h-8 border flex items-center justify-center text-[#2d89bf] border-[#2d89bf] rounded-full border-dashed"
				>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="18"
						height="18"
						viewBox="0 0 24 24"
						><path
							fill="currentColor"
							d="M22.46 6c-.77.35-1.6.58-2.46.69c.88-.53 1.56-1.37 1.88-2.38c-.83.5-1.75.85-2.72 1.05C18.37 4.5 17.26 4 16 4c-2.35 0-4.27 1.92-4.27 4.29c0 .34.04.67.11.98C8.28 9.09 5.11 7.38 3 4.79c-.37.63-.58 1.37-.58 2.15c0 1.49.75 2.81 1.91 3.56c-.71 0-1.37-.2-1.95-.5v.03c0 2.08 1.48 3.82 3.44 4.21a4.2 4.2 0 0 1-1.93.07a4.28 4.28 0 0 0 4 2.98a8.52 8.52 0 0 1-5.33 1.84q-.51 0-1.02-.06C3.44 20.29 5.7 21 8.12 21C16 21 20.33 14.46 20.33 8.79c0-.19 0-.37-.01-.56c.84-.6 1.56-1.36 2.14-2.23"
						></path></svg
					>
				</a>
				<a
					href=""
					class="w-8 h-8 border flex items-center justify-center text-[#2d89bf] border-[#2d89bf] rounded-full border-dashed"
				>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="18"
						height="18"
						viewBox="0 0 24 24"
						><g
							fill="none"
							stroke="currentColor"
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="1.5"
							color="currentColor"
							><path
								d="M2.5 12c0-4.478 0-6.718 1.391-8.109S7.521 2.5 12 2.5c4.478 0 6.718 0 8.109 1.391S21.5 7.521 21.5 12c0 4.478 0 6.718-1.391 8.109S16.479 21.5 12 21.5c-4.478 0-6.718 0-8.109-1.391S2.5 16.479 2.5 12"
							></path><path
								d="M16.5 12a4.5 4.5 0 1 1-9 0a4.5 4.5 0 0 1 9 0m1.008-5.5h-.01"
							></path></g
						></svg
					>
				</a>
				<a
					href=""
					class="w-8 h-8 border flex items-center justify-center text-[#2d89bf] border-[#2d89bf] rounded-full border-dashed"
				>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="18"
						height="18"
						viewBox="0 0 24 24"
						><path
							fill="currentColor"
							d="M6.94 5a2 2 0 1 1-4-.002a2 2 0 0 1 4 .002M7 8.48H3V21h4zm6.32 0H9.34V21h3.94v-6.57c0-3.66 4.77-4 4.77 0V21H22v-7.93c0-6.17-7.06-5.94-8.72-2.91z"
						></path></svg
					>
				</a>
			</div>
		</div>
	</div>
	<hr />
	<div class="text-center pt-8">
		<p class="text-[16px] font-[500] text-[#616670]">
			Copyright © {new Date().getFullYear()}
			<span class="text-[#2d89bf]">Demanzo</span> | All Rights Reserved
		</p>
	</div>
</footer>

<script src="../../assets/scripts/alpine.js"
></script>