---

const navLinks = [
  {
    name: "B2B Marketing",
    href: "#",
    subLinks: [
      { name: "Intro", href: "#" },
      { name: "Features", href: "#" },
    ],
  },
  {
    name: "Design & Technology",
    href: "#",
    subLinks: [
      { name: "Team", href: "#" },
      { name: "Company", href: "#" },
    ],
  },
  {
    name: "Boardroom",
    href: "#",
    subLinks: [
      { name: "Design", href: "#" },
      { name: "Development", href: "#" },
      { name: "Marketing", href: "#" },
    ],
  },
  {
    name: "Resources",
    href: "#",
    subLinks: [
      { name: "Latest Posts", href: "#" },
      { name: "Categories", href: "#" },
    ],
  },
  {
    name: "About",
    href: "#",
    subLinks: [
      { name: "Support", href: "#" },
      { name: "Careers", href: "#" },
    ],
  },
];


const currentPath = Astro.url.pathname;
---


 <nav>
          <div class="ma x-w-7xl mx-auto px-2">
            <div class="flex justify-between h-16 items-center">
              <div class="flex">
                {
                  navLinks.map((link) => {
                    const isActive =
                      currentPath === link.href ||
                      link.subLinks.some((sub) => currentPath === sub.href);

                    return (
                      <div class="relative group">
                        <div class="px-2 py-2 flex items-center">
                          <a
                            href={link.href}
                            class={`text-[13px] font-[600] whitespace-nowrap ${isActive ? "text-[#2d89bf]" : "text-gray-700 hover:text-[#2d89bf]"}`}
                          >
                            {link.name.toUpperCase()}
                          </a>
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class={`inline ${isActive ? "text-[#2d89bf]" : "text-gray-700 hover:text-[#2d89bf]"}`}
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                          >
                            <path
                              fill="none"
                              stroke="currentColor"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              stroke-width="1.5"
                              d="m7 10l5 5l5-5"
                            />
                          </svg>
                        </div>

                        <div class="absolute z-10 left-0 hidden group-hover:block bg-white border rounded shadow-lg w-[200px]">
                          {link.subLinks.map((sub) => {
                            const isSubActive = currentPath === sub.href;

                            return (
                              <a
                                href={sub.href}
                                class={`block px-4 py-2 text-[12px] font-[600] ${
                                  isSubActive
                                    ? "text-[#2d89bf]"
                                    : "text-gray-700 hover:text-[#2d89bf]"
                                }`}
                              >
                                {sub.name.toUpperCase()}
                              </a>
							  <hr />
                            );
                          })}
                        </div>
                      </div>
                    );
                  })
                }
              </div>
            </div>
          </div>
        </nav>
      </div>
      <div class="flex items-center gap-2">
        <nav
          class="p-4 bg-white lg:hidden"
          x-data="{
  open: false,
  activeMenu: null,
  menu: [
      {
        title: 'B2B MARKETING',
        submenu: [
          { name: 'Overview', href: '/b2b-marketing/overview' },
          { name: 'Updates', href: '/b2b-marketing/updates' },
        ]
      },
      {
        title: 'DESIGN & TECHNOLOGY',
        submenu: [
          { name: 'Overview', href: '/b2b-marketing/overview' },
          { name: 'Updates', href: '/b2b-marketing/updates' },
        ]
      },
      {
        title: 'BOARDROOM',
        submenu: [
          { name: 'Overview', href: '/b2b-marketing/overview' },
          { name: 'Updates', href: '/b2b-marketing/updates' },
        ]
      },
      {
        title: 'RESOURCES',
        submenu: [
          { name: 'Overview', href: '/b2b-marketing/overview' },
          { name: 'Updates', href: '/b2b-marketing/updates' },
        ]
      },  
      {
        title: 'ABOUT',
        submenu: [
          { name: 'Overview', href: '/b2b-marketing/overview' },
          { name: 'Updates', href: '/b2b-marketing/updates' },
        ]
      },
  ]
}"
        >
          <div class="flex justify-between items-center">
            <button @click="open = true">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="border p-2"
                width="36"
                height="36"
                viewBox="0 0 24 24"
                ><path
                  fill="currentColor"
                  d="M4.5 17.27q-.213 0-.356-.145T4 16.768t.144-.356t.356-.143h15q.213 0 .356.144q.144.144.144.357t-.144.356t-.356.143zm0-4.77q-.213 0-.356-.144T4 11.999t.144-.356t.356-.143h15q.213 0 .356.144t.144.357t-.144.356t-.356.143zm0-4.77q-.213 0-.356-.143Q4 7.443 4 7.23t.144-.356t.356-.143h15q.213 0 .356.144T20 7.23t-.144.356t-.356.144z"
                ></path></svg
              >
            </button>
          </div>

          <div
            x-show="open"
            x-cloak
            x-transition:enter="transition transform duration-300"
            x-transition:enter-start="-translate-x-full"
            x-transition:enter-end="translate-x-0"
            x-transition:leave="transition transform duration-300 delay-300"
            x-transition:leave-start="translate-x-0"
            x-transition:leave-end="-translate-x-full"
            class="fixed top-0 left-0 inset-0 bg-black/40 z-30"
          >
          </div>

          <div
            x-show="open"
            x-cloak
            x-transition:enter="transition transform duration-300 delay-300"
            x-transition:enter-start="-translate-x-full"
            x-transition:enter-end="translate-x-0"
            x-transition:leave="transition transform duration-300"
            x-transition:leave-start="translate-x-0"
            x-transition:leave-end="-translate-x-full"
            class="fixed top-0 left-0 w-64 md:w-96 h-full bg-white z-40 p-6"
          >
            <button @click="open = false" class="absolute top-4 right-4">
              <svg
                class="w-6 h-6"
                fill="none"
                stroke="black"
                viewBox="0 0 24 24"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M6 18L18 6M6 6l12 12"></path>
              </svg>
            </button>

            <ul class="mt-12 space-y-4">
              <template x-for="(item, index) in menu" :key="index">
                <li>
                  <button
                    @click="activeMenu === index ? activeMenu = null : activeMenu = index"
                    :class="activeMenu === index ? 'text-[#2d89bf]' : ''"
                    class="w-full text-left flex justify-between items-center text-[13px] text-gray-700 hover:text-[#2d89bf] font-[600] px-3 py-2 rounded-md transition-colors duration-200"
                  >
                    <span x-text="item.title"></span>
                    <svg
                      class="w-4 h-4 transform transition-transform duration-200"
                      :class="activeMenu === index ? 'rotate-180 text-[#2d89bf]' : ''"
                      fill="none"
                      stroke="black"
                      viewBox="0 0 24 24"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M19 9l-7 7-7-7"></path>
                    </svg>
                  </button>

                  <ul
                    x-show="activeMenu === index"
                    x-transition
                    class="pl-6 mt-2 space-y-2 text-sm text-gray-700 shadow py-2"
                  > 
                    <template x-for="(sub, subIndex) in item.submenu" :key="subIndex">
                      <li>
                        <a :href="sub.href" class="block hover:text-[#2d89bf]" x-text="sub.name"></a>
                      </li>
                    </template>
                  </ul>
                </li>
              </template>
            </ul>
          </div>
        </nav>