---
import { API_URL } from '../../../../config/urls';
import FeatureSteps from '../../../common/FeatureSteps.jsx';

const res = await fetch(API_URL + 'blocks/280');
const data = await res.json();
const background = 'from-white to-[#FEF2F2]';

const pageData = data[2];
---

<!-- Third Section -->

<div class="demanzo-container-auto">
   <div class="flex flex-col bg-gradient-to-b from-[#FAFEFF] to-[#FFFFFF] mt-10 pt-20">
    <!-- Heading with SVG underline -->
    <div class="w-full flex justify-center">
        <div class="relative inline-block text-center">
        <h2 class="demanzo-h1 leading-tight">
            How We Accelerate<br>
            Your IT Sales Pipeline
        </h2>
        <svg
          class="absolute left-1/2 -translate-x-1/2 bottom-[-10px] lg:left-[180px] lg:translate-x-0 z-0"
          width="270"
          height="20"
          viewBox="0 0 270 20"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M5 15C80 5 190 0 265 12"
            stroke="#7D80E6"
            stroke-width="6"
            stroke-linecap="round"
          />
        </svg>
      </div>
    </div>
    <div class="relative px-6 mt-10">

    <!--Vertical line for mobile only -->
    <div class="absolute inset-0 flex justify-center  z-0 md:hidden">
        <div class="bg-[#FF0000] w-[1px] h-[65%] mt-50 "></div>
    </div>   
    <!-- Horizontal line -->
    <div class="px-6 mt-10">
        <div class="bg-[#FF0000] w-[1px] h-[600px] mx-auto my-10 md:w-3/4 md:h-[2px] hidden md:block"></div>
    </div>
  
    <!-- Steps Section -->
    <div class="flex flex-col md:flex-row justify-center items-center gap-10 px-4 py-12 max-w-6xl mx-auto relative z-10 md:-mt-30">
      <!-- Step 1 -->
      <div class="flex flex-col items-center max-w-[250px] relative">
        <div class="bg-white border rounded-full p-3 z-10">
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 56 50" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M41.7514 20.4267C41.8596 20.2968 42.0978 20.1127 42.271 20.0045C42.5741 19.8205 42.8772 19.7988 46.0488 19.7988H49.5019L49.9674 20.0694C50.2705 20.2426 50.4978 20.4916 50.6494 20.8055C50.8659 21.2602 50.8767 21.4225 50.8767 25.72C50.8767 30.0499 50.8659 30.169 50.6494 30.4504C50.3571 30.8185 49.8159 30.8401 49.4911 30.4829C49.2638 30.2339 49.253 30.1798 49.2313 25.8499L49.1988 21.4767L46.1246 21.4442C43.7323 21.4225 43.0287 21.455 42.9529 21.5524C42.9096 21.6282 42.8663 27.7009 42.8663 35.0293V48.3763H46.0597H49.253V40.6582C49.253 33.5888 49.2376 32.6919 49.602 32.4939C49.67 32.457 49.7513 32.4444 49.8483 32.4205C50.1622 32.3448 50.7035 32.5829 50.8117 32.8427C50.8442 32.9401 50.8767 36.4798 50.8767 40.7015V48.3763H52.7061C53.7128 48.3763 54.6762 48.4304 54.8386 48.4845C55.4339 48.7118 55.6071 49.3289 55.2066 49.7619L54.9793 50H27.7116H0.443963L0.216642 49.7619C-0.183876 49.3289 -0.0106788 48.7118 0.584685 48.4845C0.747057 48.4304 1.69964 48.3763 2.70634 48.3763H4.53574L4.56821 43.5809L4.60068 38.7855L4.8713 38.385C5.01203 38.1685 5.31512 37.8979 5.53162 37.7788C5.91048 37.5623 6.10533 37.5515 9.35277 37.5515C13.109 37.5515 13.1306 37.5515 13.6719 38.201C13.8342 38.385 14.0074 38.7097 14.0724 38.9371C14.1373 39.186 14.1806 41.0804 14.1806 43.8515V48.3763H15.4796H16.7786V46.0057C16.7786 43.7757 16.7894 43.6242 17.0059 43.3536C17.2873 42.9964 17.7961 42.9747 18.1533 43.3103C18.4023 43.5376 18.4023 43.5701 18.4023 45.9624V48.3763H21.5956H24.7889V40.9288C24.7889 36.837 24.7456 33.4272 24.7023 33.3515C24.6266 33.254 23.9229 33.2216 21.5307 33.2432L18.4564 33.2757L18.4023 37.1185C18.3698 39.2293 18.3049 41.0262 18.2616 41.102C17.9693 41.5567 17.1358 41.4592 16.8976 40.9505C16.8219 40.7664 16.7786 39.4891 16.7786 36.9236C16.7786 32.6912 16.8002 32.5721 17.6013 31.9659L18.0018 31.652L21.4441 31.6195C24.6699 31.587 24.9188 31.5978 25.2977 31.8035C25.525 31.9118 25.7956 32.1066 25.9039 32.2257C26.4017 32.7668 26.4018 32.8535 26.4126 40.8149L26.4126 40.8206V48.3763H27.7116H29.0106L29.0322 37.6922L29.0647 26.9973L29.3137 26.5968C29.4544 26.3803 29.7467 26.088 29.9632 25.9473C30.3637 25.6983 30.3962 25.6983 33.8385 25.6983H37.3024L37.7462 25.9906C38.006 26.1638 38.2766 26.4669 38.4173 26.7483C38.6447 27.2246 38.6447 27.2463 38.6447 37.8005V48.3763H39.9436H41.2426V34.9211C41.2525 21.8409 41.2443 21.0352 41.6358 20.5565C41.671 20.5135 41.7094 20.4731 41.7514 20.4267ZM37.0209 37.952C37.0209 29.985 36.9885 27.4953 36.891 27.3978C36.707 27.2138 30.9482 27.2138 30.7642 27.3978C30.6668 27.4953 30.6343 29.985 30.6343 37.952V48.3763H33.8276H37.0209V37.952ZM12.5569 43.9489C12.5569 41.5134 12.5244 39.4458 12.492 39.3484C12.4378 39.1969 12.059 39.1752 9.37442 39.1752C7.68575 39.1752 6.27853 39.2077 6.24605 39.251C6.20275 39.2835 6.17028 41.3618 6.17028 43.8515V48.3763H9.36359H12.5569V43.9489ZM38.3871 1.53614L38.9155 1.39668C41.8382 0.63895 44.4036 0.000286102 44.6201 0.000286102C45.0423 -0.0105362 45.4645 0.303383 45.4645 0.628124C45.4687 0.665939 45.5104 1.08541 45.5782 1.76751C45.6851 2.84266 45.8569 4.5703 46.049 6.48434C46.547 11.3663 46.6011 12.2107 46.482 12.4488C46.3305 12.7519 46.1248 12.871 45.7459 12.871C45.616 12.871 44.8583 12.4163 44.0572 11.8534C43.2562 11.2906 42.5634 10.8576 42.531 10.9009C42.5115 10.9268 42.3399 11.14 42.0912 11.449C41.9255 11.6549 41.7255 11.9033 41.5134 12.1674C40.3227 13.6395 37.7897 16.1942 36.2309 17.4715C29.2273 23.2628 20.1994 26.77 9.9375 27.7009C8.4545 27.8417 8.06481 27.7875 7.52357 27.3654C6.69006 26.7051 6.69006 25.2329 7.52357 24.5834C7.67512 24.4643 8.7576 24.0422 9.92667 23.6525C17.6015 21.0653 24.1721 17.5798 29.2165 13.4447C30.0283 12.7844 30.3855 12.7194 30.8185 13.1524C31.1757 13.5096 31.1 13.9967 30.602 14.4189C29.801 15.1117 26.9216 17.2334 25.7633 17.9803C21.336 20.8597 15.9777 23.3602 10.154 25.2762C8.86584 25.6984 8.55192 25.8499 8.55192 26.0014C8.55192 26.1855 8.61687 26.1963 9.28801 26.1313C16.3458 25.4602 22.0721 23.9231 27.4304 21.2494C32.7995 18.5648 37.1294 15.0684 40.8856 10.3596C41.4485 9.65601 42.0005 9.02817 42.1196 8.97404C42.4227 8.80085 42.6825 8.91992 43.8191 9.71013L44.8366 10.4137L44.7717 9.93745C44.7284 9.67765 44.5335 7.76167 44.3279 5.6833C44.1222 3.60494 43.9274 1.8838 43.9057 1.86215C43.8299 1.77555 35.6356 3.92969 35.6789 4.01628C35.7113 4.05959 36.1552 4.39515 36.6856 4.75237C37.7789 5.49928 37.9629 5.76991 37.7356 6.32197C37.1943 7.5993 33.633 11.9509 32.9185 12.1998C32.5613 12.3297 32.0093 12.1241 31.8902 11.8426C31.7062 11.3663 31.8361 11.139 32.9727 9.92662C34.001 8.83332 35.5381 6.92815 35.8196 6.39774C35.917 6.22454 35.7438 6.06217 34.4665 5.18536C33.5139 4.52505 32.9618 4.07041 32.8861 3.89721C32.7562 3.52917 33.0268 2.94463 33.3624 2.85803C33.4945 2.82754 35.707 2.24355 38.3871 1.53614Z" fill="#E97448"></path></svg>
        </div>
        <div class="absolute top-12 w-0 h-0 border-l-[18px] border-r-[18px] border-b-[24px] border-l-transparent border-r-transparent border-b-[#FCF1F1]"></div>
        <div class="mt-3 bg-white p-8 h-[220px] rounded-xl shadow-md border border-gray-200 hover:bg-[#FCF1F1] transition-all text-center">

          <h3 class="text-[#2D89BF] font-semibold text-[17px] mb-2 mt-5">Step 1</h3>
          <p class="text-gray-600 text-[16px] leading-relaxed font-semibold mt-3">Hyper-Targeted Lead Generation</p>
        </div>
      </div>
  
      <!-- Step 2 -->
      <div class="flex flex-col items-center max-w-[250px] relative">
        <div class="bg-white border rounded-full p-3 z-10">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32" x="0" y="0" viewBox="0 0 32 32" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><path d="M17.5 4h-3a.5.5 0 0 1 0-1h3a.5.5 0 0 1 0 1zM21.5 31h-11A2.503 2.503 0 0 1 8 28.5v-17a.5.5 0 0 1 1 0v17c0 .827.673 1.5 1.5 1.5h11c.827 0 1.5-.673 1.5-1.5v-17a.5.5 0 0 1 1 0v17c0 1.378-1.121 2.5-2.5 2.5z" fill="#ff645b" opacity="1" data-original="#000000" class=""></path><path d="M23.5 15a.5.5 0 0 1-.5-.5v-11c0-.827-.673-1.5-1.5-1.5h-11C9.673 2 9 2.673 9 3.5v11a.5.5 0 0 1-1 0v-11C8 2.122 9.121 1 10.5 1h11C22.879 1 24 2.122 24 3.5v11a.5.5 0 0 1-.5.5zM26.5 6.05c-.276 0-.5-.174-.5-.45v-.1a.5.5 0 0 1 1 0c0 .276-.224.55-.5.55zM26.5 8.05c-.276 0-.5-.174-.5-.45v-.1a.5.5 0 0 1 1 0c0 .276-.224.55-.5.55zM26.5 10.05c-.276 0-.5-.174-.5-.45v-.1a.5.5 0 0 1 1 0c0 .276-.224.55-.5.55zM5.5 22.95c-.276 0-.5-.174-.5-.45v-.1a.5.5 0 0 1 1 0c0 .276-.224.55-.5.55zM5.5 24.95c-.276 0-.5-.174-.5-.45v-.1a.5.5 0 0 1 1 0c0 .276-.224.55-.5.55zM5.5 26.95c-.276 0-.5-.174-.5-.45v-.1a.5.5 0 0 1 1 0c0 .276-.224.55-.5.55z" fill="#ff645b" opacity="1" data-original="#000000" class=""></path><path d="M24.841 27a.5.5 0 0 1-.489-.605l.33-1.53a.498.498 0 0 1 .371-.38 4.791 4.791 0 0 0 1.367-.571.5.5 0 0 1 .529.005l.99.633.613-.618-.633-.982a.501.501 0 0 1-.007-.531 4.76 4.76 0 0 0 .57-1.367.502.502 0 0 1 .378-.372l1.14-.253v-.857l-1.139-.253a.502.502 0 0 1-.378-.372 4.788 4.788 0 0 0-.57-1.367.497.497 0 0 1 .006-.53l.634-.991-.612-.612-.991.634a.498.498 0 0 1-.529.005 4.815 4.815 0 0 0-1.367-.571.498.498 0 0 1-.371-.38L24.437 14H24a.5.5 0 0 1 0-1h.84a.5.5 0 0 1 .488.395l.267 1.233c.366.111.725.261 1.071.448l1.074-.687a.5.5 0 0 1 .623.068l1.181 1.18a.5.5 0 0 1 .067.623l-.687 1.074c.187.347.337.706.448 1.073l1.235.274c.23.051.393.255.393.489v1.66a.5.5 0 0 1-.392.488l-1.235.274a5.767 5.767 0 0 1-.448 1.072l.686 1.064a.498.498 0 0 1-.065.623l-1.181 1.19a.501.501 0 0 1-.624.069l-1.074-.687a5.815 5.815 0 0 1-1.071.448l-.267 1.233a.501.501 0 0 1-.488.396z" fill="#ff645b" opacity="1" data-original="#000000" class=""></path><path d="M25.391 22.578a.5.5 0 0 1-.278-.915A2.002 2.002 0 0 0 23.6 18.04a.5.5 0 1 1-.201-.98A3.004 3.004 0 0 1 27 20a2.999 2.999 0 0 1-1.331 2.493.499.499 0 0 1-.278.085zM8 15a2.999 2.999 0 0 1-1.662-5.498.5.5 0 0 1 .554.832 2.002 2.002 0 0 0 1.5 3.627.502.502 0 0 1 .589.392.499.499 0 0 1-.392.588A2.934 2.934 0 0 1 8 15z" fill="#ff645b" opacity="1" data-original="#000000" class=""></path><path d="M8 19h-.84a.5.5 0 0 1-.488-.395l-.267-1.233a5.786 5.786 0 0 1-1.071-.448l-1.074.687a.5.5 0 0 1-.623-.068l-1.181-1.18a.5.5 0 0 1-.067-.623l.687-1.074a5.804 5.804 0 0 1-.448-1.073l-1.235-.274A.501.501 0 0 1 1 12.83v-1.66a.5.5 0 0 1 .392-.488l1.235-.274c.111-.367.261-.726.448-1.072L2.39 8.271a.498.498 0 0 1 .065-.623l1.181-1.19a.498.498 0 0 1 .624-.069l1.074.687a5.815 5.815 0 0 1 1.071-.448l.267-1.233a.5.5 0 1 1 .977.211l-.33 1.53a.498.498 0 0 1-.371.38 4.809 4.809 0 0 0-1.368.571.5.5 0 0 1-.529-.005l-.99-.633-.614.618.633.982a.497.497 0 0 1 .007.531 4.76 4.76 0 0 0-.57 1.367.502.502 0 0 1-.378.372L2 11.571v.857l1.139.253a.502.502 0 0 1 .378.372c.113.472.306.932.57 1.367.1.163.098.369-.006.53l-.634.99.612.612.991-.634a.502.502 0 0 1 .529-.005c.436.265.896.457 1.367.571a.498.498 0 0 1 .371.38L7.563 18H8a.5.5 0 0 1 0 1zM15.5 18.5a.499.499 0 0 1-.485-.621l1-4a.496.496 0 0 1 .606-.364.499.499 0 0 1 .364.606l-1 4a.498.498 0 0 1-.485.379zM18.5 18.5a.5.5 0 0 1-.354-.853L19.793 16l-1.646-1.646a.5.5 0 0 1 .707-.707l2 2a.5.5 0 0 1 0 .707l-2 2a.502.502 0 0 1-.354.146zM13.5 18.5a.502.502 0 0 1-.354-.146l-2-2a.5.5 0 0 1 0-.707l2-2a.5.5 0 0 1 .707.707L12.207 16l1.646 1.646a.5.5 0 0 1-.353.854z" fill="#ff645b" opacity="1" data-original="#000000" class=""></path></g></svg>
        </div>
        <div class="absolute top-12 w-0 h-0 border-l-[18px] border-r-[18px] border-b-[24px] border-l-transparent border-r-transparent border-b-[#FCF1F1]"></div>
        <div class="mt-3 bg-white p-8 h-[220px] rounded-xl shadow-md border border-gray-200 hover:bg-[#FCF1F1] transition-all text-center">

          <h3 class="text-[#2D89BF] font-semibold text-[17px] mb-2 mt-5">Step 2</h3>
          <p class="text-gray-600 text-[16px] leading-relaxed font-semibold mt-3">Lead Qualification & Nurturing</p>
        </div>
      </div>
  
      <!-- Step 3 -->
      <div class="flex flex-col items-center max-w-[250px] relative">
        <div class="bg-white border rounded-full p-3 z-10">
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 35 39" fill="none"><path d="M18.541 0.297197C18.3488 0.401299 18.0766 0.61751 17.9484 0.785673L17.7002 1.09798L17.6762 2.59544L17.6441 4.10091L16.8754 4.14895C12.407 4.44524 7.89863 6.72747 4.8877 10.2269C2.13301 13.43 0.603516 17.49 0.603516 21.614C0.603516 22.7271 0.611523 22.7591 0.835742 23.1195C1.24414 23.7681 2.14902 24.0163 2.8377 23.672C3.22207 23.4718 3.2541 23.4318 3.82266 22.3988C5.89668 18.6671 9.21992 15.9365 13.2559 14.6472C14.457 14.2628 16.491 13.8945 17.4199 13.8945H17.6602V15.2718C17.6602 16.8654 17.7482 17.1857 18.3168 17.562C18.7412 17.8423 19.4939 17.8984 19.8783 17.6822C20.2146 17.498 28.1264 10.1949 28.3826 9.8345C28.6469 9.46614 28.7029 8.75345 28.5027 8.32903C28.3346 7.96868 20.4068 0.585478 19.8863 0.297197C19.6941 0.193096 19.4219 0.121025 19.2297 0.121025C19.0375 0.121025 18.7412 0.201103 18.541 0.297197ZM22.1525 3.94075C23.7141 5.37415 25.5398 7.0638 26.2125 7.6804C27.0453 8.45716 27.4297 8.86556 27.4297 8.97766C27.4297 9.10579 26.3086 10.1868 23.4578 12.8214C21.2797 14.8474 19.4059 16.529 19.3018 16.5691C19.1656 16.6251 19.0695 16.6171 18.9895 16.537C18.8773 16.457 18.8613 16.1847 18.8613 14.7513C18.8613 12.6132 18.9094 12.6933 17.6682 12.6933C16.1787 12.7013 14.3049 13.0216 12.7113 13.5501C10.0207 14.439 7.79453 15.8163 5.76855 17.8503C4.40723 19.2116 3.75859 20.0845 2.58145 22.1425C2.31719 22.5909 2.125 22.7111 1.9248 22.5429C1.66055 22.3267 1.83672 19.6601 2.21309 18.0585C3.15 14.0306 5.68848 10.379 9.13184 8.07278C11.5021 6.48724 14.5131 5.48626 17.2598 5.35813C18.3809 5.31009 18.501 5.28606 18.7012 5.08587C18.8533 4.93372 18.8613 4.8136 18.8613 3.22005C18.8613 1.46634 18.8854 1.3222 19.1896 1.3222C19.2617 1.3222 20.599 2.49935 22.1525 3.94075Z" fill="#FF3F33"></path><path d="M32.1943 15.3037C31.8099 15.5039 31.6978 15.6401 31.2974 16.3688C28.5588 21.4217 23.666 24.6328 18.0445 25.0733L17.3398 25.1293V23.744C17.3398 22.1264 17.2517 21.8141 16.6832 21.4377C16.2588 21.1575 15.506 21.1014 15.1217 21.3176C14.7773 21.5018 6.8496 28.8289 6.60936 29.1733C6.35311 29.5416 6.29706 30.2543 6.48924 30.6707C6.65741 31.0231 14.6012 38.4143 15.1137 38.6946C15.8824 39.119 16.8594 38.7426 17.2197 37.9018C17.3078 37.6696 17.3398 37.2932 17.3398 36.2522V34.8989L18.1246 34.8428C20.3187 34.6907 22.4168 34.1061 24.5869 33.041C30.5767 30.0942 34.3965 23.9682 34.3965 17.3137C34.3965 16.2727 34.3885 16.2407 34.1642 15.8803C33.7639 15.2557 32.8189 14.9754 32.1943 15.3037ZM33.0992 16.4729C33.2353 16.609 33.2193 18.1625 33.0752 19.3157C32.6988 22.1905 31.5537 24.9692 29.7599 27.3075C29.2154 28.0282 27.798 29.4535 27.0293 30.0621C24.2426 32.2723 21.1115 33.4575 17.548 33.6576C16.0426 33.7457 16.1387 33.6016 16.1387 35.7877C16.1387 37.5334 16.1146 37.6776 15.8103 37.6776C15.7383 37.6776 14.1367 36.2522 12.2469 34.4985C10.357 32.7528 8.53124 31.0711 8.19491 30.7668C7.7785 30.3905 7.5703 30.1422 7.5703 30.0221C7.5703 29.902 8.00272 29.4535 9.03573 28.5006C9.83651 27.7559 11.6543 26.0743 13.0717 24.769C14.5451 23.3996 15.7062 22.3827 15.7943 22.3827C16.1146 22.3827 16.1387 22.5108 16.1387 24.2645V25.9621L16.3389 26.1463C16.531 26.3305 16.5551 26.3305 17.7162 26.2825C20.7512 26.1623 23.8262 25.1694 26.4287 23.4717C28.5508 22.0864 30.6728 19.8762 31.89 17.7621C32.0982 17.3938 32.3705 16.9373 32.4906 16.7371C32.7148 16.3768 32.915 16.2887 33.0992 16.4729Z" fill="#FF3F33"></path></svg>
        </div>
        <div class="absolute top-12 w-0 h-0 border-l-[18px] border-r-[18px] border-b-[24px] border-l-transparent border-r-transparent border-b-[#FCF1F1]"></div>
        <div class="mt-3 bg-white p-8 h-[220px] rounded-xl shadow-md border border-gray-200 hover:bg-[#FCF1F1] transition-all text-center">

          <h3 class="text-[#2D89BF] font-semibold text-[17px] mb-2 mt-5">Step 3</h3>
          <p class="text-gray-600 text-[16px] leading-relaxed font-semibold mt-3">Sales Enablement & Conversion Optimization</p>
        </div>
      </div>
  
      <!-- Step 4 -->
      <div class="flex flex-col items-center max-w-[250px] relative">
        <div class="bg-white border rounded-full p-3 z-10">
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 55 62" fill="none"><circle cx="27.5" cy="34.4997" r="27.5" fill="white"></circle><path d="M15.8538 0.975479C14.1374 1.43251 12.7968 2.8036 12.3397 4.54032C12.2077 5.03798 12.1874 7.12001 12.1874 19.8661V34.6028L8.99833 37.0505L5.80927 39.5083L5.32177 39.2849C4.59052 38.9497 3.49364 38.9599 2.74208 39.3153C0.700676 40.2802 0.20302 42.9513 1.76708 44.5153C1.97021 44.7286 2.37646 45.013 2.67099 45.1653C3.11786 45.3989 3.33114 45.4395 4.06239 45.4395C4.77333 45.4497 5.01708 45.3989 5.43349 45.1958C6.9163 44.4645 7.63739 42.7989 7.12958 41.2856C6.93661 40.727 6.93661 40.6763 7.08896 40.5645C7.18036 40.5036 8.35849 39.5997 9.69911 38.5638L12.1366 36.695L12.1874 42.0372C12.2382 47.2067 12.2483 47.3997 12.4616 47.9075C13.1624 49.6239 14.4929 50.7716 16.1382 51.0864C16.8796 51.2286 35.1202 51.2286 35.8616 51.0864C37.7304 50.7309 39.3655 49.0958 39.7108 47.2372C39.7718 46.9325 39.8124 44.8911 39.8124 42.6059V38.5231L43.0015 36.0755L46.1905 33.6177L46.6882 33.8513C47.389 34.1763 48.5975 34.1559 49.3085 33.8208C49.9585 33.5059 50.6288 32.8255 50.9132 32.2161C51.228 31.5458 51.228 30.2052 50.9132 29.5349C50.6288 28.9153 49.8874 28.1841 49.278 27.9099C48.5671 27.5849 47.2569 27.595 46.5663 27.9302C45.0936 28.6513 44.3624 30.3372 44.8702 31.8403C45.0632 32.3989 45.0632 32.4497 44.9108 32.5614C44.8194 32.6325 43.6413 33.5263 42.3007 34.5622L39.8632 36.4411L39.8124 20.5263L39.7616 4.62157L39.5382 4.09344C38.8679 2.43798 37.6999 1.38173 36.0851 0.965321C35.2319 0.741882 16.6866 0.752041 15.8538 0.975479ZM25.9999 5.68798H32.0327L33.6577 4.07314L35.2929 2.46844L35.6788 2.5497C36.6335 2.76298 37.4358 3.42313 37.8726 4.35751L38.1366 4.92626L38.1671 21.3286L38.1874 37.7309L37.0499 38.6044L35.9022 39.4778L35.5671 39.1325C35.3843 38.9497 34.9983 38.6755 34.7038 38.5231C34.2468 38.2794 34.0538 38.2388 33.3124 38.2388C32.6116 38.2388 32.3679 38.2794 32.0124 38.4724L31.5757 38.7059L26.7819 35.0091L21.9882 31.3224L21.9069 30.6317C21.7749 29.3927 21.1147 28.4481 20.0077 27.9099C19.3374 27.5849 18.0171 27.595 17.3163 27.9302C16.189 28.4786 15.5186 29.5145 15.4983 30.7231C15.4882 31.1091 15.5186 31.5458 15.5593 31.688C15.6405 31.9622 15.5999 32.0028 14.1882 33.0489L13.8124 33.3434L13.8327 19.0841L13.8632 4.8247L14.1374 4.29657C14.6249 3.38251 15.4069 2.76298 16.321 2.5497L16.7069 2.46844L18.3421 4.07314L19.9671 5.68798H25.9999ZM32.1444 3.25048L31.3319 4.06298H25.9999H20.6679L19.8554 3.25048L19.0429 2.43798H25.9999H32.9569L32.1444 3.25048ZM19.3272 29.3927C20.3733 29.8294 20.6272 31.1903 19.8147 32.0028C19.1546 32.663 18.2202 32.663 17.5601 32.0028C16.3007 30.7536 17.6921 28.702 19.3272 29.3927ZM48.5772 29.3927C49.6233 29.8294 49.8772 31.1903 49.0647 32.0028C48.4046 32.663 47.4702 32.663 46.8101 32.0028C45.5507 30.7536 46.9421 28.702 48.5772 29.3927ZM26.203 36.6138C28.5186 38.3911 30.428 39.8536 30.4382 39.8536C30.4483 39.8638 30.3569 40.138 30.2452 40.4731C29.7476 41.9559 30.3874 43.52 31.8093 44.2919C32.3983 44.6067 32.5202 44.6372 33.3124 44.6372C34.1046 44.6372 34.2265 44.6067 34.8155 44.2919C35.8413 43.7333 36.4202 42.8497 36.5319 41.6817C36.603 40.9606 36.5929 40.9708 37.8116 40.0669L38.1976 39.7825L38.1671 43.4794L38.1366 47.1763L37.8624 47.6942C37.4561 48.4661 37.1515 48.7809 36.4405 49.1567C35.8311 49.4817 35.7397 49.502 34.5616 49.5427L33.3124 49.5833V49.0044C33.3124 48.6794 33.2616 48.2325 33.1905 47.9989C33.028 47.4403 32.1851 46.5974 31.6265 46.4349C31.0272 46.2622 20.9726 46.2622 20.3733 46.4349C19.8147 46.5974 18.9718 47.4403 18.8093 47.9989C18.7382 48.2325 18.6874 48.6794 18.6874 49.0044V49.5833L17.4483 49.5427C16.2601 49.502 16.1686 49.4817 15.5593 49.1567C14.8686 48.7911 14.4522 48.3645 14.0968 47.6333C13.8632 47.1763 13.8632 47.1661 13.8327 41.2856L13.8124 35.395L14.3405 34.9888C14.6351 34.7653 15.2546 34.288 15.7218 33.9325C16.4835 33.3434 16.5749 33.3028 16.7374 33.4349C17.2351 33.8817 17.814 34.0645 18.6874 34.0645C19.4288 34.0645 19.6218 34.0239 20.0788 33.7903C20.3733 33.638 20.7593 33.3638 20.9421 33.1809L21.2772 32.8356L21.6327 33.1099C21.8257 33.2622 23.8874 34.8364 26.203 36.6138ZM33.9522 39.9552C35.0085 40.3919 35.2522 41.7325 34.4296 42.5552C33.7593 43.2255 32.8452 43.2356 32.1851 42.5653C30.9257 41.3161 32.3171 39.2645 33.9522 39.9552ZM4.70224 40.7677C5.74833 41.2044 6.00224 42.5653 5.18974 43.3778C4.52958 44.038 3.59521 44.038 2.93505 43.3778C1.67568 42.1286 3.06708 40.077 4.70224 40.7677ZM31.4335 48.1919C31.6468 48.395 31.6874 48.5372 31.6874 49.0044V49.563H25.9999H20.3124V49.0044C20.3124 48.5372 20.353 48.395 20.5663 48.1919L20.8101 47.938H25.9999H31.1897L31.4335 48.1919Z" fill="#FF5F55"></path><path d="M17.3163 13.2544L17.0624 13.4981V18.9419V24.3755H16.2499H15.4374V25.188V26.0005H25.9999H36.5624V25.188V24.3755H35.7499H34.9374V19.7544V15.1231L34.6835 14.8794C34.4398 14.6255 34.4194 14.6255 32.4999 14.6255C30.5804 14.6255 30.5601 14.6255 30.3163 14.8794L30.0624 15.1231V19.7544V24.3755H29.2499H28.4374V20.5669V16.7481L28.1835 16.5044C27.9398 16.2505 27.9194 16.2505 25.9999 16.2505C24.0804 16.2505 24.0601 16.2505 23.8163 16.5044L23.5624 16.7481V20.5669V24.3755H22.7499H21.9374V18.9419V13.4981L21.6835 13.2544C21.4398 13.0005 21.4194 13.0005 19.4999 13.0005C17.5804 13.0005 17.5601 13.0005 17.3163 13.2544ZM20.3124 19.5005V24.3755H19.4999H18.6874V19.5005V14.6255H19.4999H20.3124V19.5005ZM33.3124 20.313V24.3755H32.4999H31.6874V20.313V16.2505H32.4999H33.3124V20.313ZM26.8124 21.1255V24.3755H25.9999H25.1874V21.1255V17.8755H25.9999H26.8124V21.1255Z" fill="#FF5F55"></path></svg>
        </div>
        <div class="absolute top-12 w-0 h-0 border-l-[18px] border-r-[18px] border-b-[24px] border-l-transparent border-r-transparent border-b-[#FCF1F1]"></div>
        <div class="mt-3 bg-white p-8 h-[220px] rounded-xl shadow-md border border-gray-200 hover:bg-[#FCF1F1] transition-all text-center">

          <h3 class="text-[#2D89BF] font-semibold text-[17px] mb-2 mt-5">Step 4</h3>
          <p class="text-gray-600 text-[16px] leading-relaxed font-semibold mt-3">Performance Tracking & Optimization</p>
        </div>
      </div>
  
    </div> 
    </div>
   
</div>
</div>

  
<FeatureSteps pageData={pageData} background={background} client:load />
