---
import { API_URL } from "../../../../config/urls";
import { MEDIA_URL } from "../../../../config/urls";

const res = await fetch(API_URL + 'blocks/188');
const data = await res.json();

const pageData = data[3];

const words = pageData.headings[0].trim().split(" ");
const firstSentence = words.slice(0, -1).join(" ");
const secondSentence = words.slice(-1)[0];
---

<div class="demanzo-container-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-[1.5fr_2fr] px-[15px] !py-[50px] justify-center items-center">

    <div class="p-[10px]">
        <img
            src={MEDIA_URL+pageData.images?.[0]?.src}
            alt={pageData.images?.[0]?.alt}
            class="w-[500px] md:mx-auto lg:mx-0 hover:-translate-x-4 transition duration-500"
        />
    </div>
    <div class="p-[10px]">
        <div class="inline-block relative mx-auto lg:mx-0 pb-[30px]">
        <div class="relative inline-block">
          <h2 class="text-[35px] lg:text-[40px] text-[#191d27] font-semibold relative leading-tight text-left inline-block">
            {firstSentence}
            <span class="relative inline-block ml-2">
              {secondSentence}
              <svg
                class="absolute left-1/2 bottom-2 translate-x-[-50%] translate-y-[10px] z-[-1]"
                width="220"
                height="20"
                viewBox="0 0 270 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M5 15C80 5 190 0 265 12"
                  stroke="#7D80E6"
                  stroke-width="6"
                  stroke-linecap="round"
                />
              </svg>
            </span>
          </h2>
        </div>
      </div>
      {pageData?.paragraphs?.map((para: string) => (
          <p class="text-[16px] font-[500] text-[#616670] leading-6 mb-[20px]">
            {para}
          </p>
        ))}
    </div>
</div>

