---
import { API_URL } from "../../../../config/urls";

const res = await fetch(API_URL + 'blocks/188');
const data = await res.json();

const pageData = data[1];

const list = pageData?.list_items[0];
---

    <section class='demanzo-container-auto bg-[#fcfcfc] px-4 md:px-10 lg:px-20 !py-[50px] text-center'>
      <div class="inline-block relative mx-auto lg:mx-0 mb-10">
        <div class="relative inline-block">
          <h2 class="demanzo-h1 leading-tight text-center lg:text-center">
            {pageData?.headings[0]}
        </h2>
          <svg
            class="absolute left-1/2 -translate-x-1/2 bottom-[34px] md:bottom-[-8px] md:left-[220px] lg:bottom-[-10px] lg:left-[140px] lg:translate-x-0 z-0"
            width="270"
            height="20"
            viewBox="0 0 270 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M5 15C80 5 190 0 265 12"
              stroke="#7D80E6"
              stroke-width="6"
              stroke-linecap="round"
            />
          </svg>
        </div> 
      </div>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        {list.map((item: any, index: number) => {
            const isEven = (index + 1) % 2 === 0;

            return (
            <div
                class={`px-[30px] py-[50px] rounded-xl transition duration-300 ${
                isEven
                    ? 'bg-white shadow'
                    : 'bg-transparent hover:bg-white hover:shadow'
                }`}
            >
                    <div class="flex items-center justify-center pb-[15px]" set:html={item?.svg}></div>
                    <h5 class="text-left demanzo-h2 text-[#191d27] pb-[17px]">{item?.heading}</h5>
                    <p class="text-left demanzo-p text-[#616670] pb-[20px]">{item?.para}</p>
            </div>
            );
        })}
        </div>
    </section>