---
import { API_URL } from "../../../../config/urls";
import GridWithModalSlider from '../../../common/GridWithModalSlider.jsx'

const res = await fetch(API_URL + 'blocks/188');
const data = await res.json();

const pageData = data[2];
---

<section class='demanzo-container-auto bg-gradient-to-b from-[#fef1ee] to-[#fcf8f9] px-4 md:px-10 lg:px-20 !py-[50px] text-center'>

      <div class="inline-block relative mx-auto lg:mx-0 mb-10 pb-[40px]">
        <div class="relative inline-block">
          <h2 class="text-[35px] lg:text-[40px] text-[#191d27] font-semibold relative z-10 leading-tight text-center lg:text-center">
            {pageData.headings[0]}
        </h2>
          <svg
            class="absolute le ft-1/2 -transl ate-x-1/2 -right-2  bottom-[1px] md:bottom-[-2px] lg:bottom-[-10px] lg:left-[90px] lg:translate-x-0 z-0"
            width="170"
            height="20"
            viewBox="0 0 270 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M5 15C80 5 190 0 265 12"
              stroke="#7D80E6"
              stroke-width="6"
              stroke-linecap="round"
            />
          </svg>
        </div>
      </div>
      <GridWithModalSlider client:load />
  </div>
      
</section>