---
import payjo from '../assets/payjo_logo.png'
import embitel from '../assets/embitel-logo.jpg'
import manthan from '../assets/manthan.jpg'
import shopbossa from '../assets/shopbossa.jpg'
import shopinspiredlivinglogo from '../assets/shopinspiredlivinglogo.jpg'
import totango from '../assets/Totango_logo.jpg'
import tredence from '../assets/Tredence.png'
import TrustCaurocel from './TrustCaurocel'
---

<div class="py-6 lg:py-12 px-4">
    <p class="text-[30px] lg:text-[40px]  font-[600] text-[#191d27] text-center">Trusted by IT teams and</p>
    <p class="text-[30px] lg:text-[40px] font-[600] text-[#e05c24] text-center">SaaS leaders across industries</p>
    
    <TrustCaurocel client:load />
</div>

<style>
.card-wrapper {
  position: relative;
  width: 200px;
  height: 40px;
  overflow: hidden;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Initial Positions */
.card-front {
  z-index: 2;
  transform: translateY(0%);
}

.card-back {
  z-index: 1;
  transform: translateY(-100%);
}

/* On hover: move front down, back into place */
.card-wrapper:hover .card-front {
  transform: translateY(100%);
}

.card-wrapper:hover .card-back {
  transform: translateY(0%);
}



</style>