---
import GrowthAnimation from "./GrowthAnimation";
---

<div class="py-8 mt-90 md:mt-[460px] lg:mt-20 xl:mt-32 2xl:mt-52 bg-gradient-to-b from-[#fef1ee] to-[#fcf8f9]">
    <p class="text-[30px] md:text-[35px] lg:text-[50px] font-[600] text-center text-[#191d27]">Your Growth Engine</p>
    <svg width="100%" height="18"viewBox="0 0 246 18" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M3 15C61.0465 4.16687 163.744 -2.79729 243 9.58344" stroke="url(#paint0_linear_1_401)" stroke-width="6" stroke-linecap="round"></path>
        <defs>
        <linearGradient id="paint0_linear_1_401" x1="3" y1="15" x2="257.174" y2="2.13431" gradientUnits="userSpaceOnUse">
        <stop offset="100%" stop-color="#7D80E6"></stop>
        <stop offset="1" stop-color="#CE7474"></stop>
        </linearGradient>
        </defs> 
    </svg>
    <p class="text-[20px] font-[600] text-center text-[#ff5f55] py-8">The Demanzo Growth Engine Includes:</p>
    <GrowthAnimation client:load />
</div>