---
import LocationGrid from "../../../common/LocationGrid";

---
<!-- Section one -->
<div class="px-[8%] py-12 bg-[#f9f9f9] ">
  <div class="text-center mb-10">
    <h2 class="text-3xl font-semibold mb-4">Our Locations</h2>
    <p class="max-w-2xl mx-auto text-[#616670]">
      We have partnered with agencies in Australia and UK. Contact us if you would like to work with one of our local partners near your location.
     </p>
  </div>

  <LocationGrid client:visible />
</div>
