---
import HeroImg from "../../../../assets/Service-Banner-Imgs.webp"
import { Mail , PhoneCall , AlarmClock } from "lucide-react";
import ListCard from "../../../common/ListCard";
import ContactHeroAnimation from "../renderers/ContactHeroAnimation"
---
<!-- Hero Section -->
<div class="bg-[#e6f8ff] ">
  <div class="demanzo-container-auto grid grid-cols-1 lg:grid-cols-[1fr_0.8fr] px-4 lg:px-28 ">
  <div class="flex flex-col justify-center gap-6 py-10 lg:py-20 text-center lg:text-left">
    <h2 class="demanzo-title">GET IN TOUCH</h2>

    <div class="inline-block relative mx-auto lg:mx-0">
      <h1 class="demanzo-h1">
        Schedule Meeting
       </h1>
      <svg
        class="absolute left-1/2 -translate-x-1/2 lg:left-30 lg:translate-x-0 bottom-2 z-0"
        width="270"
        height="20"
        viewBox="0 0 270 20"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M5 15C80 5 190 0 265 12"
          stroke="#FF5F55"
          stroke-width="6"
          stroke-linecap="round"
        />
      </svg>
    </div>

    <p class="demanzo-bold-p max-w-xl mx-auto lg:mx-0">
      Contact us for any queries related to our services
    </p>

    <div class="grid grid-cols-1 md:px-30 lg:px-0 md:grid-cols-2 gap-4 lg:gap-6 mt-6 w-full">
      <ListCard Icon={PhoneCall} title="Call Us Now:" value="+91-9751840872" />
      <ListCard Icon={Mail} title="Send Us An Email" value="info@demanzo.com" />
      
      <div class="md:col-span-2 md:flex ">
        <div class="w-full md:w-1/2">
          <ListCard
            Icon={AlarmClock}
            title="Open Hours:"
            value="Aus 11 AM to 6 PM & UK 9 AM to 6 PM"
          />
        </div>
      </div>
    </div>
  </div>


  <div class="flex items-center justify-center pt-8 pb-12 lg:pt-0 lg:pb-0">
    <ContactHeroAnimation image={HeroImg.src} alt="Hero Image" client:load/>
  </div>
</div>
</div>

