---
import { API_URL } from "../../../../config/urls";
import { MEDIA_URL } from "../../../../config/urls";

const res = await fetch(API_URL + "blocks/204");
const data = await res.json();

const pageData = data[6];
const list = pageData?.list_items[0];
---

<div class="demanzo-container-auto !py-[60px] px-[15px]">
    <div class="grid grid-cols-1 lg:grid-cols-2 mx-[10px]">
        <div class="md:mr-[96px] md:pl-[10px] md:content-center">
            <h2 class="mb-[36px] demanzo-h1">{pageData.headings[0]}</h2>
            <p class="mb-[36px] demanzo-p">{pageData.paragraphs[0]}</p>
            <div class="mt-[40px] mb-[40px] lg:mb-0">
                <a href="#contact" class="bg-[#0a6aad] text-center text-white text-[14px] font-[500] w-fit px-9 py-3 mx-auto rounded-full cursor-pointer">
                    {pageData.paragraphs[1]}
                </a>
            </div>
        </div>
        <div>
            <img
                src={MEDIA_URL + pageData.images?.[0]?.src}
                alt={pageData.images?.[0]?.alt}
                class="w-[550px] md:w-full object-cover align-middle rounded hover:-translate-y-4 transition duration-500"
            />
        </div>
    </div>
</div>